In [3]:
#reverse string
alfa = 'string'
alfa[::-1]

'gnirts'

# Simple Regular expressions

\d : digit

\s : whitespace

\  : word_character

{3:10} : the characater on immediately to the left should appear between 3 and 10 times

In [6]:
import re 

re.findall(r"movies", 'I love italian movies')

['movies']

In [9]:
re.split(r"movies", 'I love italian movies')

['I love italian ', '']

In [10]:
re.sub(r"movies", 'food', 'I love italian movies')

'I love italian food'

In [14]:
#small d : digit
re.findall(r"nick\d", 'My nicknames are nick9 nick_ nick1 ')

['nick9', 'nick1']

In [15]:
#capital D : non digit
re.findall(r"nick\D", 'My nicknames are nick9 nick_ nick1 ')

['nickn', 'nick_']

In [16]:
#small w : word
re.findall(r"nick\w", 'My nicknames are nick9 nick_ nick1 ')

['nickn', 'nick9', 'nick_', 'nick1']

In [20]:
#small w : word char
#capital W : non-word char
# \W\d a non word char followed by a digit
re.findall(r"\W\d", 'My shirt is on £sale, only £2 pound !! ')

['£2']

In [21]:
#\s : whitespace
re.findall(r"\d\s\w", 'My shirt is on £sale, only £2 pound !! ')

['2 p']

In [22]:
#\S : non whitespace
re.findall(r"\W\S\d", 'My shirt is on £sale, only £2 pound !! ')sent

[' £2']

In [24]:
#To replace 
re.sub(r"#","", "Today #I am #very# happy")

'Today I am very happy'

# Match repeated characters

In [ ]:
quantifiers : 
    
{n} how many times the char immediately on the left should appear

+ the char immediately on the left should appear 1 or more times 

* the char immediately on the left should appear 0 or more times 

? the char immediately on the left should appear 0 or more times

In [29]:
password = "password1234"

#using quantifiers 

print(re.findall(r"\w{8}\d{4}", password))

print(re.search(r"\w{8}\d{4}", password))

['password1234']
<re.Match object; span=(0, 12), match='password1234'>

In [36]:
text = "4-3 asdasd , 10-04"
#multiple digits
print(re.findall(r"\d+-\d+",text)) #  a char should appear 1 or more times

text_1 = "@amelia was not @available @today @&&*"  #  a char should appear 0 or more times
print(re.findall(r"@\w*\W*\w*",text_1))

['4-3', '10-04']
['@amelia was', '@available @today', '@&&*']

In [38]:
text = 'getting differences betweeen color and colour'
re.findall(r'colou?r',text)

['color', 'colour']

In [43]:
phone = " 1-965-874-5214  2-854-89-454511"

re.findall(r"\d{1,2}-\d{3}-\d{2,3}-\d{4,6}",phone)

['1-965-874-5214', '2-854-89-454511']

# More metacharacters

Two different operations to find a match: 

    re.search(r"regex", string)
    
    re.match(r"regex",string)
    
the main difference is .match is anchored at the beginning of the string byt .search does not. It means that if the first character of the string doesn't match with the regex, nothing will be returned.

In [51]:
# . match any character except newline

ex = "www.google.com"
re.findall(r'\..+\.',ex)

['.google.']

In [54]:
# the circumflex anchors the regex  to the start of the string
ex_1 = "the 80s good but the 90s better"

print(re.findall(r"the\s\d{2}\w",ex_1))
print(re.findall(r"^the\s\d{2}\w",ex_1))

['the 80s', 'the 90s']
['the 80s']

In [56]:
# the $ anchors the regex  to the end of the string
ex_1 = "the 80s good but the 90s"

print(re.findall(r"the\s\d{2}\w",ex_1))
print(re.findall(r"the\s\d{2}\w$",ex_1))

['the 80s', 'the 90s']
['the 90s']

In [60]:
# if you want to use special character as regex char just add backslash
ex = '1.d'

print(re.findall(r'.',ex))
print(re.findall(r'\.',ex))

['1', '.', 'd']
['.']

In [63]:
# OR operator  | or square brackets 
ex = "today or TODAY"

ex_1 = "MaryJonh2  3"

print(re.findall(r'today|TODAY',ex))
print(re.findall(r'[a-zA-z]*\d',ex_1))

['today', 'TODAY']
['MaryJonh2', '3']

In [70]:
# the circumflex transform the expression into brackets to negative
ex = "Today is 23"

re.findall(r'[^a-zA-Z]+',ex)

[' ', ' 23']

 # Greedy vs. non-greedy matching

Two tipes of mathcing methods : 

    Greedy (the quantifiers learnd by far are greedy by definition)

    Non-greedy or lazy (returns the shortest match)

In [71]:
re.match(r"\d+", "12345bcada")  # greedy

In [73]:
re.match(r"\d+?", "12345bcada") # non greedy

In [77]:
#removing the tag from an hatml page
ex = 'I want to see that <strong>amazing show</strong> again!'
print(re.sub(r"<.+>", "", ex))
print(re.sub(r"<.+?>", "", ex))

I want to see that  again!
I want to see that amazing show again!

In [82]:
ex = "I met my daughter's son (Lauren) the day before yesterday)"
print(re.findall(r"\(.*?\)",ex))
print(re.findall(r"\(.*\)",ex))

['(Lauren)']
['(Lauren) the day before yesterday)']

# Capturing groups

I.E. We want to extract information about a person, how many and which type of relationships they have

In [83]:
text = """Clary has 2 friends who she spends a lot time with. 
        Susan has 3 brothers while John has 4 sisters"""

In [84]:
#trying to extract just the names

Use parentheses to group and capture characters together

In [92]:
#using the parenthesis just the elements that match the regex
#inside those parenthesis are retrieved
re.findall(r'([A-Za-z]+)\s\w+\s(\d+)\s(\w+)',text)

[('Clary', '2', 'friends'),
 ('Susan', '3', 'brothers'),
 ('John', '4', 'sisters')]

N.B. each group is saved as a tuple in the list and so they have an index

In [101]:
#apply the plus to the group when it is repeated once or more times and we
#want to retrieve them all

re.search(r"(\d[A-Za-z])+","3e4r5fg is the nickname")

Capture a repeated group (\d+) vs repear a capturing group (\d)+

In [104]:
ex = "best numbers as 3456 and 12"
print(re.findall(r"(\d)+", ex))

print(re.findall(r"(\d+)", ex))

['6', '2']
['3456', '12']

In [111]:
re.findall(r"[a-zA-Z0-9]+",'marysmith90@gmail.com')

['marysmith90', 'gmail', 'com']

In [113]:
ex = "Here you have your boarding pass LA4214 AER-CDB 06NOV"

# Write regex to capture information of the flight
regex = r"([A-Z]{2})(\d{4})\s([A-Z]{3})-([A-Z]{3})\s(\d{2}[A-Z]{3})"

# Find all matches of the flight information
re.findall(regex, ex)

[('LA', '4214', 'AER', 'CDB', '06NOV')]

# Alternation

In [120]:
# just getting the animal name that follow a number 
ex = "I want to have 1 cat I have 2 dogs or some birds"
re.findall(r"\d+\s(cat|dogs|birds)",ex)

['cat', 'dogs']

In [123]:
# getting the animal name and the number that follow a number 
ex = "I want to have 1 cat I have 2 dogs or some birds"
re.findall(r"(\d+)\s(cat|dogs|birds)",ex)

[('1', 'cat'), ('2', 'dogs')]

# Non-capturing groups

Match but not capture group

In [131]:
# inside the group () add ?:
ex = "Jonh : 34-35-38-032-977 Nunzio : 21-98-74-659-771"
re.findall(r"(?:\d{2}-){3}(\d{3}-\d{3})",ex)

['032-977', '659-771']

In [134]:
my_date = "Today is 23rd May 2019. Tomorrow is 24th May 19"
re.findall(r"(\d+)(?:th|rd)",my_date)

['23', '24']

In [139]:
text_pos = ["""I totally love the concert The Book of Souls World Tour. 
        It kinda amazing!""", """I enjoy the movie Wreck-It Ralph. 
        I watched with my boyfriend.""", 
        """I still like the movie Wish Upon a Star. 
        Too bad Disney doesn't show it anymore."""]

text_neg = ["""I totally hate the concert The Book of Souls World Tour. 
        It kinda amazing!""", """I dislike the movie Wreck-It Ralph. 
        I watched with my boyfriend.""", 
        """I still vomit watching the movie Wish Upon a Star. 
        Too bad Disney doesn't show it anymore."""]

regex_positive = r"(love|like|enjoy).+?(movie|concert)\s(.+?)\."
regex_neg = r"(hate|dislike|vomit).+?(?:movie|concert)\s(.+?)\."


for tweet in text_pos:
    # Find all matches of regex in tweet
    positive_matches = re.findall(regex_positive,tweet)
    
    # Complete format to print out the results
    print("Positive comments found {}".format(positive_matches))
    
for tweet in text_neg:
    # Find all matches of regex in tweet
    neg_matches = re.findall(regex_neg,tweet)
    
    # Complete format to print out the results
    print("Negatvie commentsfound {}".format(neg_matches))

Positive comments found [('love', 'concert', 'The Book of Souls World Tour')]
Positive comments found [('enjoy', 'movie', 'Wreck-It Ralph')]
Positive comments found [('like', 'movie', 'Wish Upon a Star')]
Negatvie commentsfound [('hate', 'The Book of Souls World Tour')]
Negatvie commentsfound [('dislike', 'Wreck-It Ralph')]
Negatvie commentsfound [('vomit', 'Wish Upon a Star')]

# BackReferences

In [154]:
#Assign an identifier to a group

In [153]:
ex = "Austin 78701"
cities = re.search(r"(?P<city_name>\w+).*?(?P<zipcode>\d{5})", ex)
cities.group('city_name')

'Austin'

In [157]:
sentence = "happy happy bday"
re.sub(r"(\w+)\s\1",r"\1",sentence)

'happy bday'

In [162]:

sentence = "This app is not working working! It's repeating the last word word."
re.sub(r"(?P<word>\w+)\s(?P=word)", r"\g<word>",sentence)

"This app is not working! It's repeating the last word."

In [164]:
contract = "Signed on 05/24/2016"

# Write regex and scan contract to capture the dates described
regex_dates = r"Signed\son\s(?P<month>\d{2})/(?P<day>\d{2})/(?P<year>\d{4})"
dates = re.search(regex_dates, contract)

# Assign to each key the corresponding match
signature = {
    "day": dates.group('day'),
    "month": dates.group('month'),
    "year": dates.group('year')
}

# Complete the format method to print-out
print("""Our first contract is dated back to {data[year]}. Particularly, 
      the day {data[day]} of the month {data[month]}.""".format(data=signature))

Our first contract is dated back to 2016. Particularly,
      the day 24 of the month 05.

In [179]:
#When used in regex like (a|b)\1, it means that after a or b, 
#the next character should be the first captured group, which 
#is a or b so the regex here would match aa or bb


# Complete the regex to match an elongated word
regex_elongated = r"\w*(\w)\1\w*"
print(re.search(regex_elongated,"polo poooooooooooolo").group(0))

# to check a repetition word 
s = "today today bday today bday"
word_repeated_reg = r"(\w+)\s\1"
print(re.search(word_repeated_reg,s))

poooooooooooolo
<re.Match object; span=(0, 11), match='today today'>

# Look-ahead

Allow us to confirm that sub-pattern is ahead or behind main pattern

positive (?= word) 

negative (?! word)

Positive Look-ahead

In [185]:
ex = "tweet.txt transferred file.txt transferred wrong.txt error"
re.findall(r"\w+\.txt(?=\stransferred)",ex)

['tweet.txt', 'file.txt']

Negative Look-ahead

In [186]:
ex = "tweet.txt transferred file.txt transferred wrong.txt error"
re.findall(r"\w+\.txt(?!\stransferred)",ex)

['wrong.txt']

# Look-Behind

positive (?<= word)

negative (?<! word)

In [197]:
ex = "transferred tweet.txt transferred file.txt transferred wrong.jpg "
re.findall(r"(?<=transferred\s)\w+\.jpg",ex)

['wrong.jpg']

In [203]:
sentiment_analysis = "You need excellent python skills to be a data scientist. Must be! Excellent python"
look_behind = re.findall(r"(?<=[Pp]ython\s)\w+",sentiment_analysis)

# Print out
print(look_behind)

['skills']

In [202]:
ex = "transferred tweet.txt transferred file.txt transferred wrong.jpg "
re.findall(r"(?<!transferred)\w+\.jpg",ex)

['wrong.jpg']

In [208]:
cellphones = ['654-8764-439434-01' , '9214-219388-05', '612-9004-439344-01' , '314-8764-439434-01']

for phone in cellphones:
    # Get all phone numbers not preceded by area code
    number = re.findall(r"(?<!\d{3}-)\d{4}-\d{6}-\d{2}", phone)
    print(number)

[]
['9214-219388-05']
[]
[]